ul {
  padding-inline-start: 0 !important;
}

input {
  width: 745px;
  padding: 5px;
  margin: 10px 5px 10px 0px;
}

.plus-button {
  padding: 2px;
  margin: 10px 5px 10px 0px;
}

div {
  padding: 0;
  margin: 0;
  position: "absolute";
}

/* ****************************************************************************** */
/* ****************************************************************************** */
/* ** MusicCard 정의 ** */

music-card {
  display: flex;
  flex-direction: row;
  gap: 20px; /* 이미지와 글씨 사이 간격 */
  /* background: #c6cbdb; 컴포넌트 배경색 */
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 10px 25px;
  width: 755px;
}

cd-wrapper {
  flex: 1 0 auto;
  position: relative;
  width: 108px;
  height: 108px;
  flex-shrink: 0;
}

music-info {
  flex: 2 0 auto;
  flex-direction: column;
  position: relative;
  gap: 8px;

  display: flex;
  /* align-items: center; */
  min-width: 0;
  width: 460px;
  margin-top: 12px;
}

vote-button {
  flex: 0 0 auto;
  /* width: 108px;
  height: 108px; */
  position: relative;
}

.vote-button {
  margin: 30px;
  /* width: 100%;
  height: 100%; */
}

/* ****************************************************************************** */
/* ****************************************************************************** */
/* ** cd-wrapper ** */

/* CD 중앙 도넛 구멍 착시 */
/* cd-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background: #c6cbdb; /* 카드 뒷배경색과 똑같이 맞춰 뚫린 효과 부여 */
/* border-radius: 50%;
  z-index: 5; 
} */

#img {
  width: 108px; /* 이미지 크기 변경함(144->108)*/
  height: 108px; /* 100%; */
  border-radius: 50%; /* 원형 */
  object-fit: cover;
  z-index: 1;
  border: 1px solid black;
}

/* PlayerCard 일 때만 영원히 회전 */
.playingIMG {
  animation: spinCD 10s linear infinite;
}

/* MusicCard 일 때는 회전 없음 고정 */
/* .staticIMG {
  animation: none;
} */

@keyframes spinCD {
  100% {
    transform: rotate(360deg);
  }
}

/* ****************************************************************************** */
/* ****************************************************************************** */
/* ** music-info ** */
.title {
  /* font-size: 14pt;
  font-weight: bold; */

  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 500px;
}

.author {
  /* font-size: 13pt; */
  display: flex;
  font-style: italic;
}

/* ****************************************************************************** */
/* ****************************************************************************** */
/* ** 재생 중인 MUSIC 애니메이션 추가 ** */

.video-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  background: #000;
}

.zoomed-iframe {
  position: absolute;
  top: -50px;
  left: -5%;
  width: 110% !important;
  height: calc(100% + 100px) !important;
}

/* ****************************************************************************** */
/* ****************************************************************************** */
/* 체크박스처럼 생긴 버튼 */

#toggle {
  cursor: pointer;
  padding: 0;
  width: 12.5px;
  height: 12.5px;
  border-width: 1px;
  border-radius: 2.5px;

  background-color: white;
  border: 1px solid #767676;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-size: 9px;
  font-weight: 900;
  line-height: 1;
}

#toggled {
  cursor: pointer;
  padding: 0;
  width: 12.5px;
  height: 12.5px;
  border-width: 1px;
  border-radius: 2.5px;

  background-color: #0075ff;
  border: 1px solid #0075ff;
  color: white;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-size: 9px;
  font-weight: 900;
  line-height: 1;
}
