<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spreacting.prac.mapper.MemberMapper">
    <resultMap id="memberResult" type="com.spreacting.prac.model.Member">
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="age" property="age"/>
    </resultMap>

    <select id="selectAll" resultMap="memberResult">
        SELECT * FROM member
    </select>

    <select id="selectById" resultMap="memberResult">
        SELECT * FROM member WHERE id=#{id}
    </select>

</mapper>