<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spreacting.prac.mapper.MusicMapper">

    <resultMap id="MusicResult" type="com.spreacting.prac.model.Music">
        <result column="id" property="id"/>
        <result column="url" property="url"/>
        <result column="video_id" property="videoId"/>
        <result column="title" property="title"/>
        <result column="author" property="author"/>
        <result column="duration" property="duration"/>
        <result column="play_times" property="playTimes"/>
        <result column="is_playing" property="isPlaying"/>
        <result column="votes" property="votes"/>
        <result column="created_at" property="createdAt"/>
        <result column="thumbnail" property="thumbnail"/>
        <result column="iframe" property="iframe"/>
    </resultMap>

    <select id="selectAll" resultMap="MusicResult">
        SELECT * FROM music ORDER BY votes DESC, created_at ASC 
    </select>

    <select id="selectById" resultMap="MusicResult">
        SELECT * FROM music WHERE id=#{id}
    </select>

    <insert id="insert">
        INSERT INTO music(url, video_id, title, author, duration, thumbnail, iframe) 
        VALUES(#{music.url}, #{music.videoId}, #{music.title}, #{music.author}, #{music.duration}, #{music.thumbnail}, #{music.iframe})
    </insert>

    <update id="updateByVideoId">
        UPDATE music 
        SET votes = votes+1
        WHERE video_id = #{videoId}
    </update>

    <update id="updateIsPlaying">
        UPDATE music 
        SET is_playing = 1
        WHERE video_id = #{videoId}
    </update>

    <delete id="delete">
        Delete music 
        WHERE video_id = #{videoId}        
    </delete>
    
</mapper>